﻿@model Delivery.Web.Models.DeliveryMessage

@{
    ViewBag.Title = "Повідомлення DeliveryApp";
}

    <h2>Повідомлення DeliveryApp</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
    </dl>
</div>
